$blue1: #63D9ED;
$blue2: #67BDF1;
$blue3: #6BA4F5;
$blue4: #6E88F9;


body{
  background-color: #F9FAFC;
}
li:active {
    background-color: ghostwhite;
}
*{
  font-family: "Circe";
}

#firstName3 {
    color: #6BA4F5;
    text-align: left;
    font-size: 19px;
    width: 10%;
    position: relative;
    padding:  0;
    height: 30px;
}

#lastName3{
  color: #6BA4F5;
  text-align: left;
  font-size: 19px;
  padding:  0;
  // left: 115px;
  width: 30%;
  height: 21px;
  // top: 30px;
  position: relative;
}
#email3{
      font-size: 12px;
      text-align: left;
      // left: 115px;
      width: 70%;
      // top: 30px;
      padding: 0;
      height: 20px;
      position: relative;
  }
#rate {
    position: relative;
    top: -50px;
    color: darkgrey;
    font-size: 40px;
    text-align: center;
    height: 1em;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 0;
    display: block;
    padding-right: 0;
}
#contract {
    text-align: center;
    width: 15%;
    color: #6BA4F5;
    padding-left: 0;
    padding-right: 0;
    height: 1.5em;
    margin-right: 5px;
}
#editCompletedButton {
    position: absolute;
    top: 0;
    border: none;
    outline: none;
    right: 0;
}
#profileeditCompletedButton {
    position: absolute;
    top: 0;
    border: none;
    outline: none;
    right: 0;
}
#bio {
  padding: 0;
}
.deleteIcon2 {
    width: 20px;
    position: absolute;
    float: right;
    left: -200px;
    top: 10px;
}
#description{
  padding-top: 0;
  padding-left: 0;
}
.backgroundImageLoginRegister {
  background-image: url('../assets/backgroundImageLoginRegister2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.background {
    height: 50%;
    width: 100%;
    z-index: -1000;
    bottom: 0;
    position: absolute;
    background-color: #f9fafc;
}
.logo {
    position: relative;
    height: 30px;
    top: 11px;
    /* max-width: 100%; */
    left: 50px;
}
.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: white;
    color: white;
}

.profilePicture {
    height: 50px;
    right: 20%;
    width: 50px;
    top: 10px;
    border-radius: 45px;
    z-index: 1000;
    position: absolute;
    -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}
.managerProfilePicture {
    height: 80px;
    left: 15px;
    width: 80px;
    top: 10px;
    border: 1px solid #F4F4F4;
    border-radius: 40px;
    z-index: 1000;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}
.commentsProfilePicture {
    height: 80px;
    left: 15px;
    width: 80px;
    top: 10px;
    border: 1px solid #F4F4F4;
    border-radius: 40px;
    z-index: 1000;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}

.indexJobTitle{
  font-size: 22px;
  color: #868686;
}
.indexManagerProfilePicture {
    height: 80px;
    left: 5px;
    width: 80px;
    top: 0;
    border: 1px solid #F4F4F4;
    border-radius: 40px;
    z-index: 1000;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}

.navbar-item, .navbar-link {
    align-items: center;
    display: flex;
    // right: 150px;
    height: 100%;
    color: white;

}
.userDetails{
  right: 200px;
}
.noMarginTop{
  margin-top: 0;
}

.field:not(:last-child) {
    margin-top: 0em;
    margin-bottom: 0.75rem;
}

.role{
  float: left;
  margin-left: 50px;
}
.firstName{
  width: 50%;
  float: left;
  padding-right: 10px;
}

.signUp{
  float: right;
}

.roleSelect {
    float: left;
    height: 2.25em;
    margin-top: 1.2em;
    font-size: 14px;
    margin-bottom: 15px;
}
.lastName {
    width: 50%;
    padding-left: 10px;
    float: left;
}
.title1{
  font-size: 20px;
}

.leftLoginRegisterContent{
  text-align: center;
  height: 100vh;
}


.rightLoginContent {
    /* margin: 60px; */
    top: 25%;
    width: 80%;
    /* border-radius: 10px; */
    padding: 60px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
}
img {
    position: relative;
    /* height: 100%; */
    /* max-width: 100%; */
}

.field:not(:last-child) {
    margin-top: 1em;
    margin-bottom: 0.75rem;
}

.control.has-icons-left .input, .control.has-icons-left .select select {
    padding-left: 1em;
    padding-bottom: 0.50em;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0rem;
}

.submitbutton{
  // border-radius: 20px;
  background-color: rgba(255,255,255,0);
  font-family: "circe rounded";
  color: $blue3;
  border-color: $blue3;
  font-size: 14px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}
.submitbutton:hover{
  // border-radius: 20px;
  background-color: $blue3;
  font-family: "circe rounded";
  color: white;
  border-color: $blue3;
  font-size: 14px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}
.requestbutton {
    background-color: rgba(255, 255, 255, 0);
    font-family: "circe rounded";
    color: #6BA4F5;
    border-color: #6BA4F5;
    font-size: 14px;
    height: 40px;
    bottom: 20px;
    left: 150px;
    position: absolute;
    width: 150px;
    border-radius: 5px;
}
.requestbutton:hover{
  // border-radius: 20px;
  background-color: $blue3;
  font-family: "circe rounded";
  color: white;
  border-color: $blue3;
  font-size: 14px;
  // height: 40px;
  // width: 100px;
  border-radius: 5px;
}
.acceptRequestbutton {
    /* background-color: rgba(255, 255, 255, 0); */
    font-family: "circe rounded";
    color: limegreen;
    /* border-color: #6BA4F5; */
    font-size: 16px;
    padding-top: 8px;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #D3D3D3;
    top: 10px;
    right: 10px;
    padding-right: 11px;
    text-align: right;
    position: absolute;
    width: 40px;
    border-radius: 30px;
}
.acceptRequestbutton:hover {
    /* background-color: rgba(255, 255, 255, 0); */
    font-family: "circe rounded";
    color: limegreen;
    /* border-color: #6BA4F5; */
    font-size: 16px;
    padding-top: 8px;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #D3D3D3;
    top: 10px;
    right: 10px;
    padding-right: 11px;
    text-align: right;
    position: absolute;
    width: 40px;
    border-radius: 30px;
}
.rejectRequestbutton {
    /* background-color: rgba(255, 255, 255, 0); */
    font-family: "circe rounded";
    color: #D3D3D3;
    cursor: default;
    font-size: 16px;
    padding-top: 8px;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #D3D3D3;
    top: 10px;
    right: 10px;
    padding-right: 13px;
    text-align: right;
    position: absolute;
    width: 40px;
    border-radius: 30px;
}
.rejectRequestbutton:hover {
    /* background-color: rgba(255, 255, 255, 0); */
    font-family: "circe rounded";
    color: #D3D3D3;
    cursor: default;
    font-size: 16px;
    padding-top: 8px;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #D3D3D3;
    top: 10px;
    right: 10px;
    padding-right: 13px;
    text-align: right;
    position: absolute;
    width: 40px;
    border-radius: 30px;
}
.pendingRequestbutton {
    /* background-color: rgba(255, 255, 255, 0); */
    font-family: "circe rounded";
    color: #D3D3D3;
    font-size: 16px;
    padding-top: 8px;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #D3D3D3;
    top: 10px;
    right: 10px;
    padding-right: 11px;
    text-align: right;
    position: absolute;
    width: 40px;
    border-radius: 30px;
}
.pendingRequestbutton:hover {
    /* background-color: rgba(255, 255, 255, 0); */
    font-family: "circe rounded";
    color: limegreen;
    font-size: 16px;
    padding-top: 8px;
    border-radius: 30px;
    height: 40px;
    border: 1px solid #D3D3D3;
    top: 10px;
    right: 10px;
    padding-right: 11px;
    text-align: right;
    position: absolute;
    width: 40px;
    border-radius: 30px;
}
.signUpSignInLink{
  color: #6BA4F5;
}
.acceptRequestbutton:hover{

}

select{
  font-family: "Circe-light", sans-serif;

}
.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.card {
    background-color: white;
    box-shadow: none;
    color: #4a4a4a;
    max-width: 100%;
    background-color: white;
    color: #4a4a4a;
    max-width: 100%;
    border-radius: 5px;
    position: relative;
    border: 1px solid #F4F4F4;
}
.cardAcceptedRequest {
    background-color: white;
    // box-shadow: 0px 0px 10px limegreen;
    color: #4a4a4a;
    max-width: 100%;
    background-color: white;
    color: #4a4a4a;
    max-width: 100%;
    border-radius: 5px;
    position: relative;
    border: 1px solid #F4F4F4;
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: white;
    color: #3273dc;
}

.register {
    float: left;
    font-size: 14px;
    margin-top: 15px;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  border-bottom: 1px solid $blue3;

}
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  border-bottom: 1px solid $blue3;

}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    position: relative;
    top: 13px;
}
.center{
  text-align: center;
};

.dayRate {
    font-size: 40px;
    font-weight: 600;
    color: darkgrey;
    height: 50px;
    text-align: center;
    width: 100%;
}
.dayRateTextMoney {
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
    width: 70px;
    color: darkslategrey;
}
.dayRateText {
    margin-bottom: 10px;
    font-size: 10px;
    color: darkslategrey;
}

.dayRateText2 {
    /* margin-bottom: 10px; */
    font-size: 15px;
    color: darkslategrey;
    position: relative;
    top: -3px;
    text-align: center;
    width: 100%;
}
.indexContract {
    color: #6BA4F5;
    /* padding: 10px 10px 10px 4px; */
    /* float: right; */
    position: relative;
    width: 100%;
    text-align: center;
    /* bottom: -20px; */
    /* right: 110px; */
}
.floatRight {
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 10px;
}
.indexCompanyPicture {
    width: 70%;
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    text-align: center;
}
.contract {
    color: #6BA4F5;
    padding: 10px;
}
.jobDescription {
    font-size: 12px;
    text-align: left;
    padding-top: 23px;
    padding-left: 5px;
    padding-right: 5px;
}
.commentsContent {
    font-size: 12px;
    text-align: left;
    padding-top: 23px;
    padding-left: 5px;
    padding-right: 5px;
}

.listIcon {
    width: 50%;
    display: inline;
    margin-right: 20px;
    color: #B5B5B5;
    font-weight: 600;
}

.iconSidebar {
    text-align: center;
    padding-top: 20px;
    height: 60px;
    font-size: 15px;
    cursor:   pointer;
}
.iconSidebarAdd {
      text-align: center;
      padding-top: 20px;
      height: 60px;
      font-size: 15px;
      cursor: copy;
  }
.sidebarhr{
  width: 80%;
}



.sidebar {
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;
}
.is-sidebar-menu {
    background: white;
    border-right: 1px solid #F4F4F4;
}

.input, .textarea {
    background-color: white;
    border-color: #F4F4F4;
    color: #4a4a4a;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.0);
    max-width: 100%;
    width: 100%;
    font-family: "Circe";
}
a {
    color: #4a4a4a;
    cursor: pointer;
    text-decoration: none;
}
.floatRight {
    float: right;
    padding: 0;
    top: 0;
    margin: 0;
}
.searchBar {
    z-index: 1000;
    height: 30px;
    top: -60px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.columns:not(:last-child) {
    margin-bottom: 0rem;
}
.input2 {
    background-color: white;
    border-color: #F4F4F4;
    color: #4a4a4a;
    height: 37px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0);
    max-width: 100%;
    width: 400px;
    font-family: "Circe";
}


.mainBody2 {
    position: relative;
    top: 100px;
    left: 58px;
    width: 75%;
    z-index: 1000;
    margin: 0 auto;
}
.sideBarMain{
    // -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
    // box-shadow: 20px 40px 29px 50px rgba(0, 0, 0, 0.1);

}

.requesteeRole{
    color: #D3D3D3;
    font-size: 17px;
    text-align: left;
    left: 0;
    width: 70%;
    position: relative;
}

.requesteeName{
    color: #6BA4F5;
    text-align: left;
    font-size: 19px;
    left: 0;
    width: 60%;
    position: relative;
}
.requesteeEmailDetails{
    font-size: 12px;
    text-align: left;
    // left: 85px;
    width: 70%;
    top: 0;
    position: relative;
}
.notification.is-info {
    background-color: #209cee;
    color: #fff;
    position: absolute;
    width: 94%;
    /* opacity: 0.6; */
    top: -50px;
    /* left: 50px; */
    margin: 0 auto;
    z-index: 100000000;
    border: none;
}
.notification a:not(.button) {
    color: currentColor;
    text-decoration: none;
}
.flashMessage {
    width: 80%;
    margin: 0 auto;
    position: relative;
}


.navbar-dropdown {
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid white;
    border-bottom: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    box-shadow: none;
    display: none;
    font-size: 0.875rem;
    right: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

}

.navbar {
    background-color: white;
    min-height: 3.25rem;
    position: fixed;
    border-bottom: 1px solid #F4F4F4;
    -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 49px 5px rgba(0, 0, 0, 0.02);
    width: 100%;
    z-index: 10000;
    top: 0;
}
.logOutButton {
    background-color: rgba(255, 255, 255, 0);
    font-family: "circe rounded";
    color: #6BA4F5;
    border-color: #6BA4F5;
    font-size: 14px;
    height: 40px;
    // bottom: 20px;
    left: 30px;
    position: absolute;
    width: 150px;
    border-radius: 5px;
}
.logOutButton:hover{
  // border-radius: 20px;
  background-color: $blue3;
  font-family: "circe rounded";
  color: white;
  border-color: $blue3;
  font-size: 14px;
  // height: 40px;
  // width: 100px;
  border-radius: 5px;
}
hr {
    background-color: #F4F4F4;
    border: none;
    display: block;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}
.indexhr {
  background-color: #F4F4F4;
    border: none;
    display: block;
    height: 1px;
    width: 85%;
    top: 50px;
    position: absolute;
    /* margin: 0 auto; */
}
.mapCard{
  height: 300px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);

}
.emailIcon {
    width: 20px;
    position: absolute;
    float: right;
    right: 20px;
    top: 10px;
}
.deleteIcon {
    width: 20px;
    position: absolute;
    float: right;
    right: 20px;
    top: 10px;
}
.emailIconShow {
    width: 20px;
    position: relative;
    float: right;
    right: 20px;
    top: 10px;
}
.deleteIconShow {
    width: 20px;
    position: relative;
    float: right;
    right: 20px;
    top: 10px;
}
.editIconShow {
    width: 20px;
    position: relative;
    float: right;
    right: 30px;
    top: 10px;
}
.profileeditIconShow {
    width: 20px;
    position: relative;
    float: right;
    right: 10px;
    top: 10px;
}
.managerName {
    color: #6BA4F5;
    text-align: left;
    font-size: 19px;
    left: 115px;
    width: 60%;
    // top: 20px;
    position: relative;
}
.hiringManager {
    color: #D3D3D3;
    font-size: 17px;
    text-align: left;
    left: 115px;
    width: 70%;
    // top: 20px;
    position: relative;
}
.emailDetails{
  font-size: 12px;
  text-align: left;
  left:115px;
  width: 70%;
  // top: 20px;
  position: relative;
}
.profilemanagerName {
    color: #6BA4F5;
    text-align: left;
    font-size: 19px;
    left: 115px;
    width: 60%;
    top: 30px;
    position: relative;
}
.profilehiringManager {
    color: #D3D3D3;
    font-size: 17px;
    text-align: left;
    left: 115px;
    width: 70%;
    top: 30px;
    position: relative;
}
.profileemailDetails{
  font-size: 12px;
  text-align: left;
  left:115px;
  width: 70%;
  top: 30px;
  position: relative;
}
.jobshowmanagerProfilePicture{
    height: 80px;
    left: 35px;
    width: 80px;
    top: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 40px;
    z-index: 1000;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}
.jobseditIconShow {
    width: 20px;
    position: absolute;
    float: right;
    right: 50px;
    top: 10px;
    z-index: 1000;
}
.deleteComment {
    width: 10px;
    position: absolute;
    right: 40px;
    /* top: 20px; */
}
.payDetails {
    height: 100px;
    padding: 1em;
    background-color: #f9fafc;
}

.managerDetails{
  height: 100px;
}
.userProfileDetails {
  height: 100px;
  width: 80%;
  left: 50px;
  top: 20px;
  position: relative;
}
.userShowProfileDetails {
    height: 100px;
    width: 92%;
    left: 50px;
    top: 40px;
    position: relative;
}
.userShowCompanyPicture {
    width: 120px;
    height: 120px;
    right: 70px;
    border-radius: 5px;
    float: right;
    bottom: 70px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: contain;
    border: 1px solid #F4F4F4;
}
.usersShowRequests {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
    z-index: 1000;
    float: left;
    position: relative;
    top: 20px;
    margin: 1%;
    width: 48%;
}
.usersShowRequestsAccepted {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 10px rgba(50, 205, 50, 0.6);
    text-align: center;
    z-index: 1000;
    float: left;
    position: relative;
    top: 20px;
    margin: 1%;
    width: 48%;
}

.companyLogo5 {
    text-align: center;
    height: 100%;
    margin: 10px;
    z-index: 1000;
}

.userShowRequestsProfileDetails {
    /* height: 100px; */
    width: 72%;
    left: 100px;
    /* top: 40px; */
    position: relative;
}
.requestPendingButton{
  background-color: rgba(255, 255, 255, 0);
  font-family: "circe rounded";
  color: #FCC254;
  border-color: #FCC254;
  font-size: 14px;
  height: 40px;
  bottom: 20px;
  left: 150px;
  position: absolute;
  width: 150px;
  border-radius: 5px;
}

.userShowBio {
    height: 100%;
    top: 0;
    position: relative;
}
.userShowBioDetails {
    font-size: 12px;
    text-align: left;
    width: 80%;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
    top: 0;
    position: relative;
}
.userShowProfilePicture {
    height: 80px;
    left: 50px;
    width: 80px;
    top: 65px;
    border: 1px solid #F4F4F4;
    border-radius: 40px;
    z-index: 1000;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}
.searchBarBackground {
    background: linear-gradient(white, rgba(255, 255, 255, 0.4));
    height: 125px;
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 14;
}
.userShowRequestProfilePicture {
    height: 80px;
    left: 25px;
    width: 80px;
    /* top: 60px; */
    border: 1px solid #F4F4F4;
    border-radius: 40px;
    z-index: 1000;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-size: cover;
}

.map {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    border-radius: 10px;
    border: 1px solid #F4F4F4;
    -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 49px 5px rgba(0, 0, 0, 0.02);
  &.job-index {
      height: 100vh;
      position: absolute;
      z-index: 1;
  }
}


.tile.is-3 {
    flex: none;
    width: 19%;
}

.companyLogo {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
    height: 100%;
    margin: 10px;
    z-index: 1000;
}
.column.is-one-quarter-desktop-new {
    flex: none;
    width: 25.4%;
}

.companyLogo2 {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: left;
    height: 100%;
    z-index: 1000;
    padding-left: 40px;
    padding-top: 20px;
    margin: 10px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.companyLogo3 {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
    height: 495px;
    top: 100px;
    z-index: 1000;
}
.companyLogo4 {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
    height: 300px;
    z-index: 1000;
}
.indexCards {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: center;
    // height: 100%;
    z-index: 1000;
}

.jobCommentsSection {
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F4F4F4;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    text-align: left;
    height: 100%;
}

.mainBody3 {
    position: relative;
    top: 150px;
    left: 58px;
    width: 75%;
    z-index: 1000;
    margin: 0 auto;
}
.job-index2{
  opacity: 0.5;
}

.toggleButtons{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1em;
  margin-right: 3em;
}
.copyrightText {
  a {
    color: white;
    cursor: pointer;
    font-family: "circe rounded";
    text-decoration: none;
  }
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 50%;
    height: 20px;
    /* margin: 0 auto; */
    color: white;
    font-size: 13px;
    font-family: "circe rounded";
}
.indexList {
    position: relative;
    z-index: 10;
    margin: 10px;
    // height: 250px;
}
.indexManagerDetails {
    position: relative;
    top: -60px;
    left: 40px;
}
.column.is-one-third-desktop {
    flex: none;
    width: 30%;
}

@media only screen and (max-width: 768px) {
  .displayDesktop{
    display: none;
  }
  .mapButton {
      text-align: center;
      padding-top: 7px;
      height: 30px;
      padding-left: 13px;
      width: 40px;
      background-color: white;
      right: 55%;
      font-size: 15px;
      position: absolute;
      z-index: 1000;
      height: 37px;
      border-radius: 5px;
      border: 1px solid #F4F4F4;
  }
  .listItem {
      width: 100%;
      display: inline;
      text-align: left;
      margin: 0 auto;
      float: left;
      left: 10px;
      text-align: center;
      position: relative;
      /* left: 0px; */
      font-size: 13px;
      font-weight: 400;
      color: #B5B5B5;
  }
  .listButton {
    text-align: center;
    padding-top: 7px;
    height: 30px;
    width: 40px;
    background-color: white;
    right: 30%;
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    z-index: 1000;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #F4F4F4;
  }
  .menu {
    font-size: 1rem;
    position: relative;
    z-index: 1000;
    top: 53px;
    height: 100%;
    color: #868686;
  }
  .columns.is-fullheight .column {
      position: fixed;
      left: 0;
      width: 0;
      height: 100%;
      /* overflow-y: auto; */
  }
  .mainBody {
    position: relative;
    top: 130px;
    left: 48px;
    width: 85%;
    z-index: 100;
    margin: 0 auto;
  }
  .leftLoginRegisterLogo {
      width: 30%;
      position: relative;
      top: 8%;
      margin: 0 auto;
  }
  .rightRegisterContent {
      /* margin: 0 auto; */
      top: 18%;
      left: 10%;
      width: 80%;
      /* border-radius: 10px; */
      padding: 40px 60px 40px 60px;
      position: absolute;
      background-color: white;
      -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
  }
  .column.is-2.is-sidebar-menu{
    position: fixed;
    left: 0;
    width: 60px;
    height: 100%;
    /* overflow-y: auto; */
  }
}
@media only screen and (min-width: 768px) {
  .displayDesktop{
    display: inline;
  }
  .rightRegisterContent {
      /* margin: 60px; */
      top: 8%;
      width: 80%;
      /* border-radius: 10px; */
      padding: 40px 60px 40px 60px;
      position: relative;
      background-color: white;
      -webkit-box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 4px 29px 5px rgba(0, 0, 0, 0.19);
  }
  .leftLoginRegisterLogo {
      width: 20%;
      position: relative;
      top: 47%;
      margin: 0 auto;
  }
  .mapButton {
      text-align: center;
      padding-top: 7px;
      height: 30px;
      width: 90px;
      background-color: white;
      right: 25%;
      font-size: 15px;
      position: absolute;
      z-index: 1000;
      height: 37px;
      border-radius: 5px;
      border: 1px solid #F4F4F4;
  }
  .listButton {
      text-align: center;
      padding-top: 7px;
      height: 30px;
      width: 90px;
      background-color: white;
      right: 15%;
      font-size: 15px;
      position: absolute;
      z-index: 1000;
      height: 37px;
      border-radius: 5px;
      border: 1px solid #F4F4F4;
  }
  .columns.is-fullheight {
      top: 40px;
      position: fixed;
      max-height: calc(100vh - ( 3.25rem - .75rem ));
      height: calc(100vh - ( 3.25rem - .75rem ));
      z-index: 1700;
      /* display: flex; */
      /* flex-direction: row; */
      /* justify-content: stretch; */
  }
  .columns.is-fullheight .column {
      position: fixed;
      left: 0;
      height: 100%;
      /* overflow-y: auto; */
  }
  .menu {
      font-size: 1rem;
      position: relative;
      z-index: 1000;
      top: 23px;
      height: 100%;
      color: #868686;
  }
  .listItem {
      width: 100%;
      display: inline;
      text-align: left;
      margin: 0 auto;
      float: left;
      position: absolute;
      left: 40px;
      font-size: 13px;
      font-weight: 400;
      color: #B5B5B5;
  }
  .mainBody {
      position: relative;
      top: 150px;
      left: 58px;
      width: 75%;
      z-index: 100;
      margin: 0 auto;
  }
  .column.is-2.is-sidebar-menu{
    position: fixed;
    left: 0;
    width: 150px;
    height: 100%;
    /* overflow-y: auto; */
  }
}
